* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Roboto-Regular";
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "Roboto-Bold";
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
    font-weight: bold;
}


:root {
    --grey: #65676b;
    --light-grey: #f2f3f5;
    --primary-color: #00ad9f;
    --secondary-color: #15847d;
}

body {
    background-color: var(--light-grey);
    font-family: "Roboto-Regular";
}

.main-mobile-nav {
    background-color: var(--secondary-color);
    height: 90px;
    padding: 13px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mobile-nav-top {
    display: flex;
    align-items: center;
}

.menu-bar {
    --menu-bars: white;
    width: 21px;
    margin-right: 10px;
}

.logo {
    color: white;
    font-family: 'Roboto-Bold';
    text-transform: uppercase;
    font-size: 16px;
}

.search-bar {
    background-color: white;
    border-radius: 3px;
    height: 35px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    margin-top: auto;
}

.search-icon {
    --grey: #65676b;
    width: 18px;
}

[type=search] {
    border: none;
    background-color: white;
    width: 100%;
    padding-left: 5px;
    font-size: 13px;
    color: var(--grey);
    height: 100%;
}

::placeholder {
    color: var(--grey);
}

.location {
    background-color: #00ad9f2b;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #c9ccd16e;
}

.delivery-text {
    font-size: 13px;
    margin: 0;
    color: #03363d;
}

.map-marker {
    --marker-color: #03363d;
    width: 18px;
    margin-right: 2px;
}

nav ul {
    list-style-type: none;
}

.mobile-nav {
    position: fixed;
    bottom: 0;
    background-color: white;
    border-top: 1px solid #c9ccd1;
    padding: 10px 18px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
}

.mobile-nav li:hover,
.mobile-nav li:active,
.mobile-active {
    --grey: var(--primary-color);
}

.mobile-icon {
    width: 20px;
    margin-bottom: 5px;
}

.mobile-icon-label {
    color: var(--grey);
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    font-size: 12px;
    text-decoration: none;
}

.cart {
    position: relative;
}

.badge {
    background: var(--primary-color);
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -7px;
    right: -13px;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
