* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
    font-weight: normal;
}

:root {
    --grey: #65676b;
    --light-grey: #f2f3f5;
    --primary-color: #157a76;
}

body {
    position: relative;
    background-color: var(--light-grey);
    font-family: 'Roboto-Regular';
}

.mobile-nav {
    position: absolute;
    background-color: white;
    border-bottom: 1px solid #c9ccd1;
    padding: 8px 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.mobile-icon {
    width: 28px;
    margin-bottom: 4px;
}

.mobile-icon:hover {
    --grey: var(--primary-color);
}

.mobile-icon-label {
    color: var(--grey);
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    font-size: 13px;
}